<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home of django</title>
</head>
<body>
    <h1>Welcome to text analyzer.</h1>  
    <form action="/about" method="get">
        <textarea name="text"></textarea><br>
        <input type="checkbox" name="removefunc">Remove Punctuation <br>
        <button type="submit">Text Analyzed</button>
    </form>

</body>
</html>  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textutil</title>
</head>
<body>
    <h1>Welcome,Your Text Analyzer.you text analyzed</h1>
    <form action="about" method="get">
        <textarea name="text" id=""></textarea><br>
        <input type="checkbox" name="removefunc">Remove Punctuation <br>
        <input type="checkbox" name="fullcaps">Uppercase <br>
        <input type="checkbox" name="charactercount">Charactercount <br>
        <button type="submit">Text Analyzed</button>
    </form>
</body>
</html> 